<div class="container">
    <form [formGroup]="bookForm">
        <div class="row">
            <div class="row col-sm-5">
                <h3 class="title" >My first Http - "books" !!!</h3>
                <br><br>
                <div class="form-group">
                    <label>Book ID</label>
                    <input type="text" id="bookId" class="form-control" formControlName="bookid" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Book Name</label>
                    <input type="text" id="bookname" class="form-control" formControlName="bookname" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Author</label>
                    <input type="text" id="author" class="form-control" formControlName="author" autocomplete="off">
                </div>
                <div class="form-group">
                    <button class="btn btn-info" [disabled]="!bookForm.valid" (click)="onPushBook()">push Book</button>
                    <button class="btn btn-warning" [disabled]="!bookForm.valid" (click)="onSave()">Save</button>
                    <button class="btn btn-info" [disabled]="!bookForm.valid" (click)="onget()">Get</button>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="row col-sm-6"> 
            <table class="table">
<tr>
    <th>BOOKID</th>
    <th>BOOKNAME</th>
    <th>AUTHOR</th>
</tr>
<tr *ngFor="let obj of myBooks">
<td>{{obj.bookid}}</td>
<td>{{obj.bookname}}</td>
<td>{{obj.author}}</td>
</tr>
            </table>
        </div>
        </div>
    </form>
</div>
