/* button{
    text-align: center;
    color:blue;
    padding:5px;
    background-color: #faebd7;
}
div{
    text-align: center;
    box-sizing: border-box;
    color:black;
    border: 3px solid black;
    
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 180px;
    margin-left: 180px;
    background-color: lightblue;
    padding: 10px;
  }


h2{
    text-align: center;
    color:rgb(85, 7, 84);
} */